$start :0%;
$end: 100%;
$start_: 50%;
$top_: 0%;
$maxWidth: 25%;
$zIndex: 100;

.toast {
  position: absolute;
  left: $start_;
  top: $top_;
  max-width: $maxWidth;
  z-index: $zIndex;
  transform: translateY($end);

}

.fadeOut {
  position: absolute;
  left: $start_;
  top: $top_;
  max-width: $maxWidth;
  z-index: $zIndex;
  transform: translateY($end);
  @include fadeOut;
  @include userSelect;

}